{% extends "index.html" %} {% block content %}
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="auth_box box">
      <h1 class="avatar_title">Welcome</h1>
      <p class="avatar_email">
        We are glad to see you using our service. We try to make it better
        everyday. Actually we've created it to use it by ourselves. Look, we are
        just small team, so if you need us make some features just write us. We
        will be glad to help you. Check our telegram group @telegram_group. We
        are just testing our MVP product if it will be useful for customers.
        Right now as payment we accept btc/usdt/eth/ paypal. To make a paymen
        contact us @payments_telegram or whatsup: +30322323232 To start using
        our service please connect an exchange account. Currently we support
        bitmex + binance (cause we use it by ourselves) but our structure allows
        us to quickly add any exhange that has api. So write to us if you need
        and in couple of days you will get it.
      </p>
      <a href="exchanges/add_exchange" class="btn btn-blue-shadow"
        >Connect an exchange</a
      >
    </div>
  </div>
</div>
{% endblock content %}
